{% extends "components/base.html" %}
{% block imports %}
<script src="{{ url_for('static', filename='src/board.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col border-end">
            <div class="card-body">
                <div class="title">
                    <h2>To Do</h2>
                    <div class="list-to-do">
                        <div class="taskContainer" class="swimlane" id="todo-lane"></div>
                        <button class="btn btn-transparent btn-circle" data-bs-toggle="modal" data-bs-target="#taskModal">
                            <span class="bi bi-plus-circle"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col border-end">
            <div class="card-body">
                <h2>In Progess</h2>
                <div class="list-in-progress">
                    <div class="taskContainer" class="swimlane" id="progress-lane"></div>
                    <button class="btn btn-circle btn-transparent" data-bs-toggle="modal" data-bs-target="#taskModal">
                        <span class="bi bi-plus-circle h5"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-body">
                <h2>Done</h2>
                <div class="list-done">
                    <div class="taskContainer" class="swimlane" id="done-lane"></div>
                    <button class="btn btn-circle btn-transparent" data-bs-toggle="modal" data-bs-target="#taskModal">
                        <span class="bi bi-plus-circle h5"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="taskModalLabel">Create Task</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    <form id="taskForm">
                        <div class="mb-3">
                            <!-- <label for="taskTitle" class="form-label">Task Title</label> -->
                            <input type="text" class="form-control under-line shadow-none size-sm bg-dark" id="taskTitle" placeholder="Task Name"></input>
                            <!-- <input type="text" class="form-control" id="taskTitle" placeholder="Enter task title" required> -->
                        </div>
                        <div class="mb-3">
                            <label for="taskTag" class="form-label">Tag</label>
                            <select class="form-control shadow-none bg-dark" id="taskTag">
                                <option value="">Select or add a tag</option>
                                <option value="work">Work</option>
                                <option value="personal">Personal</option>
                                <option value="urgent">Urgent</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="dueDate" class="form-label">Due Date</label>
                            <input type="datetime-local" class="form-control shadow-none bg-dark" id="dueDate">
                        </div>
                        <div class="mb-3">
                            <label for="taskStatus" class="form-label">Status</label>
                            <select class="form-select bg-dark" id="taskStatus">
                                <option value="todo">To Do</option>
                                <option value="inprogress">In Progress</option>
                                <option value="done">Done</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="taskDescription" class="form-label">Description</label>
                            <textarea class="form-control bg-dark" id="taskDescription" rows="3" placeholder="Enter description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="saveTask">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
