{% extends "components/base.html" %}
{% block content %}
<div class="container-sm mt-3">
    <header>
        <h1 class="mx-auto text-center">Scratch Board</h1>
        <p class="mx-auto text-center">
            <i>The simplest board to manage all your personal projects</i>
        </p>
    </header>
</div>
<div class="container text-center">
    <div class="card bg-dark">
        <div class="form-group row justify-content-center">
            <label for="boardTitle">Board Title</label>
            <input type="text" class="form-control size-sm" id="boardTitle" placeholder="Enter Name">
        </div>
        <div class="form-group row justify-content-center">
            <label for="boardSeed">Board Keyword</label>
            <input type="text" class="form-control size-sm" id="boardSeed" placeholder="Enter Keyword">
            <small class="form-text">Use the keyword to recover your board. This should NOT be sensative information such as an email or password.</small>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-press" id="createBoard">Create</button>
        </div>
    </div>
</div>
{% endblock %}
