{% extends "components/base.html" %}
{% block content %}
<div class="container-sm mt-3">
    <header>
        <h1 class="mx-auto text-center">Scratch Board</h1>
        <p class="mx-auto text-center">
            <i>Manage your life with a kanban board</i>
        </p>
    </header>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <!-- <div class="col">
            <div class="card bg-medium">

            </div>
        </div> -->
        <div class="col">
            <div class="card bg-medium">
                <div class="card-body">
                    <div class="mb-3">
                        <label for="boardTitle">Board Title</label>
                        <!-- ToDo: make inputs required -->
                        <input type="text" class="form-control" id="boardTitle" placeholder="Enter Name" required>
                    </div>
                    <div class="mb-3">
                        <label for="boardSeed">Your Email (Optional)</label>
                        <input type="text" class="form-control" id="email" placeholder="example@gmail.com">
                        <div class="form-text accent">
                            We will send you a link to the board if you lose it, or just save/bookmark the link yourself.
                            No spam ever!
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn blue btn-press" id="createBoard">Create</button>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>
{% endblock %}
