{% extends "components/base.html" %}

{% block content %}
<div class="container-sm mt-3">
    <header>
        <h1 class="mx-auto text-center">Scratch Board</h1>
        <p class="mx-auto text-center">
            <i>The simplest board to manage all your personal projects</i>
        </p>
    </header>
</div>
<div class="container text-center">
    <div class="card bg-dark">
        <div class="form-group row justify-content-center">
            <label for="BoardTitle">Board Title</label>
            <input type="text" class="form-control size-sm" id="BoardTitle" placeholder="Enter Name">
        </div>
        <div class="form-group row justify-content-center">
            <label for="BoardSeed">Board Keyword</label>
            <input type="text" class="form-control size-sm" id="BoardHash" placeholder="Enter Keyword">
            <small class="form-text">Use the keyword to recover your board. This should NOT be sensative information such as an email or password.</small>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
      <!-- <div class="col mt-2">
        <div class="card bg-dark">
            <div class="card-body">
                <h2>Enter keyphrase for hash</h2>
                <i>This should be a word or phrase that you can remember. Use this phrase to recover lost boards.</i>
                
                <h3>This should NOT hold sensative information such as an email or password.</h3>
            </div>
        </div>
      </div> -->
      <!-- <div class="col mt-2">
        <div class="card bg-dark">
            <div class="card-body">
                <h2>Download</h2>
                <p>
                    Stay on top of your game by keeping track of your progress. Just like a notebook,
                    except it's web-based, so that you can skip the pen and paper. Log your workouts
                    exactly how you like to, without wasting time or effort being constrained by an
                    app's interface.
                </p>
            </div>
        </div>
      </div>
    </div> -->
</div>
{% endblock %}
