{% extends "components/base_protected.html" %}
{% block content %}
<form action="/create" method="POST" class="mt-2 form bg-dark-max">
    <div class="d-block form-group">
        <h1>Create New Routine</h1>
        <input type="text" class="form-control" name="routineName" placeholder="Name">
        <textarea class="form-control" name="details" placeholder="Routine Details" rows="15"></textarea>
    </div>
    <div class="form-group" id="exerciseContainer"></div>
    <div class="form-group mb-4">
        <button type="submit" class="btn btn-success ms-auto">Save Routine</button>
        <button type="reset" class="btn btn-danger ms-auto">Cancel Routine</button>
    </div>
</form>
<script src="/static/src/new-routine.js"></script>
{% endblock %}
